@{
    ViewBag.Title = "Home Page";
}

<a href="http://botquidechire.azurewebsites.net/">http://botquidechire.azurewebsites.net/</a>

<iframe class="bot-webChat bot-card grid-card floatable " style="height: 820px;"
        src='https://webchat.botframework.com/embed/SuperHerosBot?s=pAobfhsj2PE.cwA.7Kw.eLmoFb07ziar2cZH6EC3mPcuO_TzSUEH6lWu1SO9SZk'></iframe>
